*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

/* dark3 */
.lightgray{
    color: #727272;   
}

/* Dark2 */
.menu-color
{
    color: #424242;
}
/* end  */
.nav-list{
    list-style: none;
}

.link-nav{
    text-decoration: none;
}

.header-section {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 53px;

    
}

.header-bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

ul{
    gap: 30px;
    align-items: center;
    margin-top: 60px;
    
}



.header{
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 60px;

}

.header-name{
        font-weight: bold;
        font-size: 3rem;
}


.header-box{
    text-align: center;
    margin-top: 210px;
}

.nav, .banner , .love , .badges, .facts{
    max-width: 1440px;
    margin: 0 auto;
}

.btn-color{
    background-color: #FF900E;
    font-weight: 500;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
    padding: 20px 24px;
}

.bottom-margin{
    margin-bottom: 50px;
    margin-top: 25px;
}

.resize{
width: 100%;
}


.f-title ,.love-title , .num{
    font-size: 2.8rem;
}



.features-style{
    color: #FF900E ;
}

.of-our{
    font-weight: bold;
}

.features {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 93px;

}

img{
    max-width: 100%;
}

.quick-list{
    align-items: center;
    justify-content: center;
    gap: 73px;
}



.feature-subtilte{
 max-width: 1082px;
 height: auto;
}

.desktop{
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
}

.experience{
    font-weight: 500;
    font-size: 1.8rem ;
}

.bigger-font{
    font-weight: 700;
    font-size: 4rem;
}

.love{
justify-content: center;
align-items: center;
gap: 140px;
margin-top: 180px;

}



.mobile-container{
    max-width: 586px;
    height: auto;
    margin-top: 30px;
}

.sizeBox{
  
    max-width: 586px;
    margin-top: 20px ;
}

.love-title{
    max-width: 425px;
    height: auto;
    border-left:5px solid #FF900E;
    padding: 22px;
    
}

.shape-btn{
     margin-left: -92px;
     margin-top: -77px;
}

.facts{
    margin-top: 130px;
    margin-bottom: 25px;
}

.box-facts{
    max-width:241.83px ;
    max-height:241.83px ;
    border: 1px solid #FF900E ;
    padding: 70px 50px;
    border-radius: 10px;
    
    
}

.badges-container{
    display: flex;
    gap: 125px ;
    justify-content: center;
    align-items: center;
}

.badges {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px; 
}

.box {
    width: 169px;
    height: 136px;
    margin: 0 auto;
    text-align: center;
}




.facts img{
   
    width: 100%;
    margin: 45px 98px 150px;
}


.fact-heading {
    font-size: 2.8rem;
    margin-top: 130px;
    margin-bottom: 25px;
   
}
.badges{
    margin-bottom: 180px;
}











@media screen and (max-width: 576px){

.display-flex{
    flex-direction: column
}

.header-box {
    margin-top: 350px; /* Give more space below nav */
  }

  .features-details {
text-align: center;

  }

  .shape-btn{
    margin-left: 20px;
  }
.badges-container{
    flex-direction: column;

}




}